# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
importlib-metadata
matplotlib
seaborn
pandas
numpy
urllib3
matplotlib
seaborn
PyYAML
xlsxwriter
openpyxl
plotly
basemap
pytest
world-bank-data
sklearn
otoole>=0.11.0

# docs
myst-parser
sphinx>=3.2.1
furo
sphinx-book-theme
