# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!

# scripts
importlib_metadata
seaborn
pandas>=2.0
geopandas
urllib3
PyYAML
pytest
world_bank_data
scikit-learn
otoole>=1.1.0
scipy
# dash
geos
cartopy

# docs
sphinx
myst_parser
pydata_sphinx_theme>=0.8.1
docutils==0.17.1
sphinx_book_theme